* 

.nav{
    display: flex;
    width: 75%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
.nav h3 {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: large;
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slides {
  display: none;
  text-align: center;
}

.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.text-container {
  position: relative;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: grayscale(50%);
  opacity: 0.5;
  border: 1px solid black;
}
body {
  background-color: beige;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  display: inline-block;
}
#header,
#main,
#footer {
  background-color: beige;
  width: 100%;
  margin: 0;
  padding: 0;
  float: left;
}

#header {
  height: 100px;
  background-color: beige;
}

#main {
  height: 350px;
  width: 100vw;
}

#footer {
  height: 120px;
  background-color: beige;
}

#button {
  display: block;
  margin: 0 auto 2rem auto;
